My workflow 7(7).json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3360,
        192
      ],
      "id": "bbcbb799-5b0b-45e5-852c-7929dba88950",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "finallcpreports",
        "options": {
          "folderKey": "={{$json[\"case_id\"]}}/Output/"
        }
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -2912,
        192
      ],
      "id": "8fe62cc4-a859-4ca0-b18a-13a42b50584f",
      "name": "Get many files",
      "credentials": {
        "aws": {
          "id": "aeV7VLudk24AEj9Q",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node after Get many files\nconst regex = /^(\\d{12})-\\d{4}-CompleteAIGeneratedReport\\.pdf$/i;\nreturn items\n  .filter(item => {\n    const key = item.json.Key || item.json.key || '';\n    return regex.test(key.split('/').pop());   // look only at filename\n  })\n  .map(item => ({ json: { s3Key: item.json.Key || item.json.key } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        192
      ],
      "id": "66080116-61cb-4798-849b-3700af44922c",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2496,
        192
      ],
      "id": "95672e1d-401a-422d-9df9-b3bd8862e805",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "bucketName": "finallcpreports",
        "fileKey": "={{$json.s3Key}}"
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -2144,
        208
      ],
      "id": "6d21602b-88c1-4747-9fc5-80cbc7cf691e",
      "name": "Download a file1",
      "credentials": {
        "aws": {
          "id": "aeV7VLudk24AEj9Q",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1856,
        208
      ],
      "id": "b200b71e-27e0-4468-bf4c-8c5fec5361ee",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9bd00e3-7493-4cdd-878f-5323b28dc11f",
              "name": "case_id",
              "value": "={{$json.body?.case_id ?? 3424}}",
              "type": "string"
            },
            {
              "id": "9f7ca083-4df9-45e4-b830-754ad64660d6",
              "name": "batchingFlag",
              "value": "=1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3088,
        192
      ],
      "id": "259bef41-279f-465d-8f01-9577d2d4a08a",
      "name": "Edit Fields15"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b37d58d8-7d72-49f3-888c-cd0d1e1cb31d",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "57e413ce-9099-4647-8ad4-f98378b48ce0",
              "name": "filename",
              "value": "={{$('Download a file1').item.json.s3Key.split('/').pop()}}",
              "type": "string"
            },
            {
              "id": "f1b0fcb6-fab9-428f-8b99-0618eb72888f",
              "name": "timeStamp",
              "value": "={{$('Download a file1').item.json.s3Key.match(/\\d{12}/)?.[0] || ''}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        208
      ],
      "id": "8e66fbc5-3447-423e-bea9-2c8495748454",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const versions = items.map(item => ({\n  s3Key: item.json.s3Key,\n  filename: item.json.filename,\n  timestamp: item.json.timeStamp,\n  text: item.json.text,\n}));\nreturn [{ json: { caseId: $json.case_id, versions } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        176
      ],
      "id": "865f246f-364e-4ebf-844e-d78759371f87",
      "name": "Aggregator Node"
    },
    {
      "parameters": {
        "jsCode": "const versions = [...$json.versions].sort((a,b) => a.timestamp.localeCompare(b.timestamp));\nreturn [{\n  json: {\n    caseId: $json.caseId,\n    oldest: versions[0],\n    newest: versions[versions.length - 1],\n    versions\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        176
      ],
      "id": "ecb590f1-b89c-41bf-8bd6-9a57b945fe27",
      "name": "Sort Chronologically",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const { caseId, oldestMeta, newestMeta, comparisons } = $json;\n\nreturn (comparisons || []).map(c => ({\n  json: {\n    caseId,\n    oldestMeta,\n    newestMeta,\n    section: c.section,\n    oldText: c.oldText,\n    newText: c.newText,\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        192
      ],
      "id": "6d7e4c47-3956-4b2f-826b-5f155f689181",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// 1) Sort versions, pick oldest & newest\nconst versions = ($json.versions || []).sort(\n  (a, b) => (a.timestamp || '').localeCompare(b.timestamp || '')\n);\n// If your field is timeStamp, use a.timeStamp instead of a.timestamp\n\nconst oldest = versions[0];\nconst newest = versions[versions.length - 1];\n\n// 2) Section heading regex\nconst headingRegex = /^(?<id>\\d+(\\.\\d+)*)(?:\\s+|\\.)(?<title>.+)$/gm;\n\n// 3) Split into sections with FULL body text, not just the heading line\nfunction splitSections(text) {\n  const matches = [];\n  let m;\n\n  // First: collect all heading positions\n  while ((m = headingRegex.exec(text)) !== null) {\n    matches.push({\n      id: m.groups.id.trim(),\n      title: m.groups.title.trim(),\n      index: m.index,\n    });\n  }\n\n  const sections = {};\n\n  // Second: slice from each heading to the next heading (or end of doc)\n  for (let i = 0; i < matches.length; i++) {\n    const cur = matches[i];\n    const next = matches[i + 1];\n    const start = cur.index;\n    const end = next ? next.index : text.length;\n\n    const key = `${cur.id} ${cur.title}`.replace(/\\s+/g, ' ');\n    sections[key] = text.slice(start, end).trim();\n  }\n\n  return sections;\n}\n\n// 4) Build comparisons (one entry per section)\nconst oldSections = splitSections(oldest.text || '');\nconst newSections = splitSections(newest.text || '');\n\nconst comparisons = Object.entries(oldSections).map(([section, oldText]) => ({\n  section,\n  oldText,\n  newText: newSections[section] || '',\n}));\n\n// 5) Return ONE item with metadata + comparisons array\nreturn [\n  {\n    json: {\n      caseId: $json.caseId,\n      oldestMeta: {\n        filename: oldest.filename,\n        timestamp: oldest.timestamp, // or timeStamp if that's the real field\n      },\n      newestMeta: {\n        filename: newest.filename,\n        timestamp: newest.timestamp,\n      },\n      comparisons,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        176
      ],
      "id": "96bc10bb-0cea-445b-80b1-346b5483e478",
      "name": "Build Section Node"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        176
      ],
      "id": "8cace4f9-fd07-4a64-b010-06c7e05d4b23",
      "name": "Loop Over Sections"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an internal QA agent comparing two versions of the same Life Care Plan section.\n\nSTRICT RULES:\n- Use ONLY the texts provided for OLD and NEW.\n- Do NOT invent, guess, or infer beyond these texts.\n- If NEW text is empty, mark status = \"removed\".\n- If OLD text is empty, mark status = \"added\".\n- If both are non-empty but identical, mark status = \"unchanged\".\n- If both non-empty and differ, mark status = \"modified\".\n- If you are uncertain about any detail, leave the relevant field null and lower confidence.\n\nINPUT:\n{\n  \"section\": \"{{ $json.section }}\",\n  \"old_version\": {\n    \"filename\": \"{{ $json.oldestMeta.filename }}\",\n    \"timestamp\": \"{{ $json.oldestMeta.timestamp }}\",\n    \"text\": \"{{ $json.oldText }}\"\n  },\n  \"new_version\": {\n    \"filename\": \"{{ $json.newestMeta.filename }}\",\n    \"timestamp\": \"{{ $json.newestMeta.timestamp }}\",\n    \"text\": \"{{ $json.newText }}\"\n  }\n}\n\nOUTPUT: return ONLY valid JSON matching this schema:\n{\n  \"section\": string,\n  \"status\": \"added\" | \"removed\" | \"modified\" | \"unchanged\",\n  \"summary\": string,          // <= 3 sentences\n  \"changes\": {\n    \"added_text\": [string],   // short representative snippets, <= 200 chars each\n    \"removed_text\": [string],\n    \"modified_pairs\": [       // only where meaning or numbers change\n      { \"old\": string, \"new\": string }\n    ],\n    \"numeric_differences\": [\n      {\n        \"metric\": string,     // e.g. \"Total Cost Projection\"\n        \"old_value\": string,\n        \"new_value\": string,\n        \"delta\": string       // e.g. \"+ $42,045.46\" or \"decreased by 10%\"\n      }\n    ]\n  },\n  \"confidence\": \"high\" | \"medium\" | \"low\",\n  \"notes\": string | null\n}\n\nADDITIONAL CONSTRAINTS:\n- Do NOT output anything except the JSON object.\n- If there are no changes in a category, use an empty array for that category.\n- Use \"low\" confidence when either text is empty, heavily truncated, or conflicting."
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        16,
        192
      ],
      "id": "37a73b89-6a1a-4205-9d9d-b0241b433291",
      "name": "Diagnostics",
      "credentials": {
        "googlePalmApi": {
          "id": "sD2RUpoSQ7Rt4bIr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "Edit Fields15": [
      {
        "json": {
          "case_id": "4840",
          "batchingFlag": "0"
        }
      }
    ]
  },
  "connections": {
    "Merge1": {
      "main": [
        [
          {
            "node": "Executive Dashboard Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many files": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Download a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregator Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields15": {
      "main": [
        [
          {
            "node": "Get many files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregator Node": {
      "main": [
        [
          {
            "node": "Sort Chronologically",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Chronologically": {
      "main": [
        [
          {
            "node": "Build Section Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Section Node": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Sections": {
      "main": [
        [
          {
            "node": "Diagnostics",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Diagnostics": {
      "main": [
        [
          {
            "node": "Loop Over Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7369dc1-9ab4-4c59-94e8-f50784339978",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0838e49b5a99e8b04e5448637c544da7dba327c03ad9eda5f199450cb3092b4f"
  },
  "id": "iCvfVWwYVUKQy3Xy",
  "tags": []
}